@tailwind base;
@tailwind components;
@tailwind utilities;

.prose {
    text-align: left !important;
    width: 100% !important;
    max-width: 100% !important;
}

.prose h1 {
    @apply text-gray-600 dark:text-gray-200 text-center;
}

.prose h2, .prose strong {
    @apply text-gray-600 dark:text-gray-200;
}

html,
body {
    background-color: #25272a !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
li a,
p a,
strong,
code {
    @apply text-gray-900 dark:text-gray-200;
}

h2 {
    @apply mb-5 text-4xl font-black md:text-4xl text-gray-600 dark:text-gray-200;
}

p a {
    @apply text-blue-500 dark:text-blue-700;
    text-decoration: underline;
}

p strong {
    color: inherit;
}

.logo {
    content: url('/tidev-logo-dark.png');
}

.button {
    @apply text-white inline-flex bg-blue-700 border-0 py-2 px-6 focus:outline-none hover:bg-blue-500 rounded text-base uppercase no-underline;
}

.button:disabled {
    @apply bg-gray-500 focus:outline-none;
}

.button .loading {
    @apply ml-2 items-center;
}

.button-secondary {
    @apply uppercase font-semibold text-blue-500 dark:text-blue-700;
}

.cla-login {
    @apply absolute flex items-center justify-center bg-black bg-opacity-60 rounded-xl;
    bottom: 13%;
    top: 13%;
    left: 8%;
    right: 8%;
}

.cla-form {
    transform-origin: top left;
}

.cla-signature {
    @apply flex items-center cursor-pointer uppercase font-semibold text-blue-500 dark:text-blue-700 !px-2 !py-5;
    height: 70px;
}

.cla-signature > img {
    @apply max-w-full max-h-full;
}

.cla-signature > span {
    @apply inline-flex;
}

.cla-form > input {
    @apply text-black;
}

.cla-signature, .cla-form > input {
    @apply absolute bg-yellow-200 border-yellow-500 border-2 px-2 py-1 text-base rounded-md;
    left: 510px;
    width: 352px;
}

.cla-form > .cla-invalid {
    @apply bg-red-200 border-red-400;
}

.cla-modal {
    @apply justify-center items-center flex overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none;
}

.cla-modal-squeeze {
    @apply relative my-6 mx-auto;
    width: 30rem;
}

.cla-modal-win {
    @apply rounded-lg shadow-lg flex flex-col w-full;
    background-color: #25272a;
}

.cla-modal-bg {
    @apply opacity-50 fixed inset-0 z-40 bg-black;
}

.cla-sig-bg {
    @apply relative rounded bg-white py-2;
    background-image: linear-gradient(to bottom, #fff 90px, #ddd 90px, #ddd 92px, #fff 92px);
}

.cla-sig-text-line {
    @apply px-4 pt-9 pb-0;
    height: 136px;
}

input.cla-sign-text {
    @apply relative border-none bg-transparent text-5xl w-full outline-0 indent-2;
    line-height: 5rem;
    z-index: 9999;
}

.cla-submit {
    @apply absolute text-center;
    left: 510px;
    width: 352px;
}

.tab-bar {
    @apply flex px-5 py-2 rounded-t;
}

.tab-bar > button {
    @apply border-b-2 border-transparent mr-6 text-gray-300 px-8 pt-2 pb-1 text-base uppercase;
}

.tab-bar > button.active {
    @apply border-b-2 font-semibold text-blue-500 dark:text-blue-700 border-blue-500 dark:border-blue-700;
}
